*.iml
.gradle
.kotlin
/local.properties
local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.env
*.env.*
*.keystore
*.jks
google-services.json
secring.gpg
secure_credentials_prefs*
